.page {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 15;
  min-height: 100vh;
}
#top {
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
{
	
#planets {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.92);
}

#planets th,
#planets td {
  border: 1px solid #cfcfcf;
  padding: 10px 12px;
  text-align: center;
  vertical-align: middle;
}

#planets thead th {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#planets tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

#planets tbody tr:hover {
  background-color: #eaeaea;
}


#planets tr.planet-row th {
  padding: 10px 12px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}


#planets tr.planet-row td .planet-img {
  width: 100%;
  height: 200px;     
  object-fit: cover; 
  display: block;
  margin: 0;
  background-color: #000;
  padding: 0; 
}



